* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
.img-yoga {
  display: block;
  margin: 195px auto 122px auto;

}

input {
  width: 321px;
  height: 46px;
  background: #fdfdfd;
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  display: block;
}
input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding-left: 19px;
}

.password {
  margin-top: 21px;
}
.forgot {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: block;
  margin: 35px 30px 38px 0;
  text-align: right;
  text-decoration: none;
  color: black;
  
}
button {
  display: block;
  margin: 0 auto;
  width: 133px;
  height: 46px;
  background: #323232;
  box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  background-color: blue;
  color: white;
}

  

.signup{
    display: block;
    margin: 21px 0 61px 0;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}
strong{
    color: #323232;
}
p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #323232;
}
.footer{
    text-align: center;
    margin: 18px auto 80px auto;

}
.img-link{
    margin: 0 18px;
}